.header__wrapper {
    padding: 20px 10px;
    margin: 0 auto;
    background-color: #006890;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    display: flex;

    &:hover {
        .header__logo--icon path {
            fill: #00bdc0;
        }
        .header__logo--title {
            color: #00bdc0;
        }
    }

    &--title {
        transition: all 0.3s ease;
        font-size: 26px;
        font-weight: 700;
        color: #fff;
    }

    &--icon {
        width: 50px;
        height: 50px;
        fill: #fff;

        & path {
            transition: all 0.3s ease;
        }
    }
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    &--cart {
        width: 30px;
        height: 30px;

        &:hover g {
            fill: #00bdc0;
        }
    }
}

.actions__favorite--wrapp:hover .actions__favorite,
.actions__favorite--wrapp:hover .actions__favorite--qty {
    color: #00bdc0;
    fill: #00bdc0;
}

.actions__favorite {
    width: 35px;
    height: 35px;
    fill: #fff;

    &--qty {
        color: #fff;
    }
}

.actions__cart--wrapp:hover .actions__cart g,
.actions__cart--wrapp:hover .actions__cart--qty {
    color: #00bdc0;
    fill: #00bdc0;
}

.actions__cart {
    width: 30px;
    height: 30px;

    &--qty {
        color: #fff;
        padding: 10px 0 0 3px;
    }
}
