.body-no-scroll {
    overflow: hidden;
}

.app-wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
